body{
	margin:0;
	color: #f7fff7;
}


html,body {
    height:100%;
    padding-top:70px;
}


section {
  height:calc(90% - 50px);
}

.btn.btn-primary {
	background-color: transparent;
	border-color: #ffffff;
}

.btn.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #692847;
    border-color: #ffffff; /*set the color you want here*/
}

.img-circle.img-thumbnail {
	background-color: #ffffff;
}

#navbar > ul > li > a{
	color: #ffffff;
    background-color: #692847;
}
.navbar.navbar-inverse.navbar-fixed-top {
	color: #ffffff;
    background-color: #692847;
	border-color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a {
	color: #ffffff;
    background-color: #1a535c;
	border-color: #ffffff;
} 

.affix {
  padding:0px;
  -webkit-transition:padding 0.2s linear;
  -moz-transition:padding 0.2s linear;  
  -o-transition:padding 0.2s linear;         
  transition:padding 0.2s linear;  

}

.affix-top {
  padding-top:15px;
  padding-bottom:15px;
  -webkit-transition:padding 0.5s linear;
  -moz-transition:padding 0.5s linear;  
  -o-transition:padding 0.5s linear;         
  transition:padding 0.5s linear;  
}

.stylish-panel {
    padding: 20px 0;
    text-align: center;
}
.stylish-panel > div > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
}
.stylish-panel > div:hover > div{
    margin-top: -10px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    transition: 0.5s;
}

.stylish-panel > div:hover img {
    border-radius: 50%;
}